.bg-image-about {
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/visitflorida/day_at_panama_city_beach_photo_aerial_JPG_1200_630_1759c87c-8735-4041-929b-239be21367c6.rendition.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    
    }
    .bg-image-about::before{
            content:'';
            position: absolute;
                top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.6);
    }
 
    .card {
        border: none !important;
        background-color: transparent !important;
        color: white !important;
        
    }